*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(189, 189, 189, 0.879);
}

section{
    background-color: white;
    padding-top: 1em;
    width: 25%;
    height: 20%;
    margin: 10em auto;
    text-align: center;
    border-radius: 10%;
    padding-bottom: 1em;
}

section h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em auto 0em auto;
    
}

.logins{
    border: none;
    padding: 1em 2em 0em 2em ;
    border-bottom: 2px black solid;
    margin: 2em auto 0em auto;
    font-size: 1em;
}

.recordar{
    display: block;
}

.iniciar{
    background-color:black;
    padding: 1em 7em ;
    color: white;
    border-radius: 24px;
    margin: 1em auto;
    border: none;
}

.iniciar:hover{
    background-color: rgba(30, 30, 30, 0.911);
}