

#presentacion{
    background-image:url(../img/pexels-ron-lach-7778906.jpg);
    background-repeat: no-repeat;
    width: 85%;
    background-size: cover;
    margin: 2em auto;
    text-align: center;
}
h1{
    font-size: clamp(3em,4vw + 1rem, 1em);
    color: white;
    padding-top: 3em;
}
h1::after{
    display: block;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}


.present{
    width: 50%;
    margin: 4em auto;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.presboton1 h2{
    font-family: Arial, Helvetica, sans-serif;
}

.presboton1{
    padding: 1.5em;
    background-color: white;
    border: 1px black solid;
}
.presboton2{
    padding: 1.5em;
    background-color: black;
    border: 1px white solid;
    color: white;
}

.presboton1:hover{
    transition: 0.8s;
    background-color: black;
    border: 1px white solid;
    color: white;
}
.presboton2:hover{
    transition: 0.8s;
    background-color: white;
    border: 1px black solid;
    color: black;
}

.present2{
    width: 100%;
    margin: 4em auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;

}

.buscado{
    width: 90%;
    margin: 1em auto;
    text-align: center;
}

.buscado h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
#lomas{
    width: 95%;
    margin: 1em auto;
}

.imege h3{
    color: red;
    padding-bottom: 1em;
}

.imege:hover {
    border-bottom: rgb(0, 0, 0) 3px solid;
    width: 102%
}


#publi{
    background-color: palevioletred;
}

.descargar{
    text-align: center;
    width: 60%;
    margin: 1em auto;
    padding: 2em ;
}

.descargar .deache2{
    width: 30%;
    border-radius: 24px;
    margin: 1em auto;
    border: 2px black solid;
}

.descargar p{
    font-size: 2em;
    margin: 1em auto;
    width: 50%;
}

.descargar .deache3{
    background-color: black;
    color: white;
    width: 30%;
    padding: 0.5em;
    border-radius: 24px;
    margin: 1em auto;
    border: 2px black solid;
}
#somos{
    width: 90%;
    margin: 1em auto;
    padding: 3em ;
}
#somos p{
    width: 50%;
    margin: 1em auto;
    text-align: center;
    line-height: 1.5em;
}

.metodos div{
    width: 90%;
}
.todito{
    width: 40%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.metodos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:0em;
    margin-left: 1em;
    padding-top: 2.5em;
}

.redes{
    border-right: 1px black solid;
    text-align: right;
    vertical-align: middle;
    padding-right: 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.redes i{
    padding: 1em;
    font-size: 2em;
}

.carrucel2{
    display: none;
}



